<div class="container app-chrome">
<header class="row">
    <div class="col-sm-8">
        <h1>Conference RSVP<small> Pick your seat&trade;</small></h1>
    </div>
    <div class="col-sm-4">
        @Html.Partial("_LoginPartial")
    </div>
    <hr />
    </header>
</div>